.active {
    color: #f37712;
}

label {
    color: #666;
}


//SIDEBAR OVERRIDE

.side-navigation-panel-select-inner-option-text {
    font-size: 0.783em !important;
    margin-left: -10px !important;
}

.css-1eg4881 {
    width: 245px !important;
    display: block;
    background-color: #fcfcfc !important;
}

.side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-wrap .side-navigation-panel-select-option .side-navigation-panel-select-option-wrap .side-navigation-panel-select-option-text {
    font-weight: 500;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 0.89em;
}

// NAVIGATION BAR

.css-1uu1wcb {
    background-color: #fff !important;
}


//FORM

input[type="file"] {
    display: none;
}
.custom-file-upload {
    margin-top: 30px;
    border: 1px solid #f39c12;
    background-color: antiquewhite;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    font-size:0.82em;
    border-radius: 6px;
}
.imgpreview{
    margin-top:30px;
    float:right;
    width:73%;
    height: auto;

}
.file-preview {
  margin: 0 10px;
}

// hide datatables buttons download

.data-table-extensions > .data-table-extensions-action {
    float: right;
    position: relative;
    display: none;
}

.chakra-input{
    min-width: 0px;
    outline: 2px solid transparent;
    outline-offset: 2px;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    transition-property: var(--chakra-transition-property-common);
    transition-duration: var(--chakra-transition-duration-normal);
    font-size: var(--chakra-fontSizes-md);
    -webkit-padding-start: var(--chakra-space-4);
    padding-inline-start: var(--chakra-space-4);
    -webkit-padding-end: var(--chakra-space-4);
    padding-inline-end: var(--chakra-space-4);
    height: var(--chakra-sizes-10);
    border-radius: var(--chakra-radii-md);
    border: 1px solid;
    border-color: #EDF2F6;
    background: inherit;
}

.report-date{
    background-color:#fff;
    padding:20px 20px 30px 20px;
}



.logo{
    width:70%;
}

@media only screen and (max-width: 780px) {
    .logo{
        width:30%;
    } 
}