.active {
    color: #f37712;
}

label {
    color: #666;
}


//SIDEBAR OVERRIDE

.side-navigation-panel-select-inner-option-text {
    font-size: 0.783em !important;
    margin-left: -10px !important;
}

.css-1eg4881 {
    width: 245px !important;
    display: block;
    background-color: #EEEFEF !important;
}

.side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-wrap .side-navigation-panel-select-option .side-navigation-panel-select-option-wrap .side-navigation-panel-select-option-text {
    font-weight: 500;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 0.89em;
}

// NAVIGATION BAR

.css-1uu1wcb {
    background-color: #fff !important;
}