/*
    login error
*/

.login-error-msg {
    position: relative;
    top: -1px;
}

.input:focus {
    border: 1px solid green !important;
    box-shadow: 0 0 3px green !important;
    -moz-box-shadow: 0 0 3px green !important;
    -webkit-box-shadow: 0 0 3px green !important;
}


.rs-table-cell-content{
    font-size:0.9em;    
}

.container  {
    background-color:#fff;
    padding: 30px;
}


